<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019803507870-ub4g94f676mhge0osr76gga7og7vm3dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019803507870-ub4g94f676mhge0osr76gga7og7vm3dh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019803507870-lpbdd84ticdifnrpharl7pngo6f4fur1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEduqH1sX2ySRjX2B5QYHPllr5uldTCgE</string>
	<key>GCM_SENDER_ID</key>
	<string>1019803507870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nearMe23</string>
	<key>PROJECT_ID</key>
	<string>ichiani-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ichiani-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019803507870:ios:2e0dd6bd6f99279348ef8f</string>
	<key>DATABASE_URL</key>
	<string>https://ichiani-flutter-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>